.footer {
    padding-bottom: 70px;
    &__content-wraper {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    &__logo {
        width: 113px;
        height: 19px;
        fill: #323a45;
        &:hover {
            fill: #19bd9a;
        }
        &:focus {
            outline: none;
        }
    }
    &__text {
        color: #81868e;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        margin-top: 24px;
    }
}
.soc-but {
    &__list {
        margin: 0 5px;
        list-style-type: none;
    }
    &__link {
        display: inline-block;
        padding: 5px;
        width: 26px;
        height: 26px;
        font-size: 20px;
        line-height: 25px;
        border-radius: 50%;
        border: 1px solid;
        color: #FFF;
        &--fb {
            background-color: #3b5998;
            border-color: #3b5998;
            &:hover {
                color: #3b5998;
                background-color: #FFF;
            }
        }
        &--tw {
            background-color: #26a6d1;
            border-color: #26A6D1;
            &:hover {
                color: #26A6D1;
                background-color: #FFF;
            }
        }
        &--lin {
            background-color: #0e76a8;
            border-color: #0e76a8;
            &:hover {
                color: #0e76a8;
                background-color: #FFF;
            }
        }
        &--inst {
            background-color: #3f729b;
            border-color: #3F729B;
            &:hover {
                color: #3f729b;
                background-color: #FFF;
            }
        }
        &--v {
            background-color: #86c9ef;
            border-color: #86C9EF;
            &:hover {
                color: #86c9ef;
                background-color: #FFF;
            }
        }
    }
    &__ul {
        padding: 0;
        margin-top: 40px;
        margin: 0 auto;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
    }
}