@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:300');
* {
    font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    transition: all .1s ease-in;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Helvetica Neue';
}
body {
	max-width: 1600px;
	margin: 0 auto;
}
