.portfolio {
    margin: 0 auto;
    text-align: center;
    background-color: #F3F3F3;
    &__wrapp {
        width: 1130px;
        margin: 0 auto;
    }
    &__title {
        color: #333b46;
        font-family: "Source Sans Pro";
        font-size: 20px;
        font-weight: 300;
        line-height: 12px;
        text-transform: uppercase;
        padding-top: 82px;
        margin: 0;
        &:focus {
            outline: none;
        }
    }
    &__text {
        color: #81868e;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
    }
    &__select {
        margin-top: 81px;
        margin-bottom: 73px;
    }
    &__button {
        position: relative;
        color: #464646;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        border: 0px solid;
        background: none;
        outline: none;
        padding: 0;
        margin: 0 16px;
    }
    &__grid {
        font-size: 0;
        width: 1082px;
        margin: 0 auto;
        padding-bottom: 102px;
    }
    &__img {
        padding: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    &__photo {
        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
    }
    &__photo img {
        width: 270px;
    }
}

.is-checked:after {
    position: absolute;
    top: 31px;
    left: 50%;
    margin-left: -20px;
    content: '';
    width: 38px;
    height: 2px;
    background-color: #19bd9a;
}
