.top {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url(../../image/top_bg.png);
    -webkit-background-size: 105%;
    -o-background-size: 105%;
    background-size: 105%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &__content{
        margin: 0 auto;
        -ms-text-align-last: center;
        text-align-last: center;
        color: #FFF;
        width: 605px;
        position: absolute;
        top: 45%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    &__title {
        font-family: "Source Sans Pro";
        font-size: 35px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 10px;
    }
    &__text {
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        letter-spacing: 2px;
    }
    &__pointer {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 90%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    &__pointer_svg {
        width: 36px;
        height: 36px;
    }
    &__pointer_1 {
        fill: #19bd9a;
    }
    &__pointer_2 {
        fill: none;
        stroke: #fff;
        stroke-miterlimit: 10;
    }
    &__show-here {
        position: absolute;
        top: 99%;
    }
}

.header {
    width: 100%;
    margin: 0 auto;
    padding-top: 47px;
    &:focus {
        outline: none;
    }
    &__content-wrap {
        display: flex;
        width: 1170px;
        margin: 0 auto;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    &__logo {
        width: 113px;
        height: 19px;
        fill: #fff;
        &:hover {
            fill: #19bd9a;
        }
    }
    &--clone {
        display: none;
        padding-top: 20px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        & svg {
            fill: #19bd9a;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
        & nav ul li a {
            opacity: 0.5;
            color: #19bd9a;
            &:hover {
                opacity: 1;
                border-color: rgba(25, 189, 154, 1);
            }
            &:visited  {
                border-color: rgba(25, 189, 154, 1);
            }
        }
    }
    &--stick {
        display: flex;
        -webkit-transform: translate(-50%, 50%);
        -moz-transform: translate(-50%, 50%);
        -ms-transform: translate(-50%, 50%);
        -o-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.nav {
    &__link {
        text-decoration: none;
        color: #FFF;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0);
        padding: 5px 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:hover {
            border-color: rgba(255, 255, 255, 1);
        }
        &:visited {
            border-color: rgba(255, 255, 255, 1);
        }
        &--active {
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0);
            padding: 5px 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border-color: rgba(255, 255, 255, 1);
        }
    }
    &__ul {
        margin: 0;
        display: flex;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    &__list {
        list-style-type: none;
        margin-left: 10px;
    }
}
